src/main/resources/service-api-definition/Customer-Schemes/customer-datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
          xmlns="http://ws/namespace/customerservice/datatypes"
          xmlns:datatypes="http://ws/namespace/customerservice/datatypes"
          xmlns:mime="http://www.w3.org/2005/05/xmlmime"
          targetNamespace="http://ws/namespace/customerservice/datatypes"
          elementFormDefault="qualified"
          version="1.0">
      
    <s:import namespace="http://www.w3.org/2005/05/xmlmime"
              schemaLocation="w3c-xmlmime-definition.xsd"/>
      
      
    <s:complexType name="Customer">
        <s:sequence>
            <s:element name="nome" type="s:string"/>
            <s:element name="nif" type="s:string"/>
            <s:element name="morada" type="s:string"/>
            <s:element name="telefone" type="s:string"/>
        </s:sequence>
    </s:complexType>
      
    <s:complexType name="ArrayOfCustomer">
        <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="datatypes:Customer"/>
        </s:sequence>
    </s:complexType>
      

      
</s:schema>